<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>不爱编程的兔子</title>
<link rel="shortcut icon" href="favicon.ico" >
<!--必要样式-->
<link rel="stylesheet" type="text/css" href="/public/css/404.css">

<style type="text/css">
#Layer1 {position:absolute;	width:100%;	z-index:2;	top: 80%;}
.STYLE3 {font-size: medium}
</style>

</head>
<body>

<div class="container demo-1">
	<div class="content">
		<div id="large-header" class="large-header" style="height: 917px;">
			<canvas id="demo-canvas" width="1920" height="917"></canvas>
			<h1 class="main-title">欢迎<br><span class="STYLE3">海内存知己,天涯诺比邻</span></h1>
		</div>
		<div id="Layer1">
			<nav class="codrops-demos">
				<a href="/">网站首页</a>
				<a href="/">博客中心</a>
				<a href="/">留言反馈</a>
				<a href="/">联系站长</a>
			</nav>
		</div>
	</div>
</div>


<script src="/public/js/TweenLite.min.js"></script>
<script src="/public/js/EasePack.min.js"></script>
<script src="/public/js/demo-1.js"></script>

</body></html>