<div class="header">
    <div class="banner">
    </div>
    <div class="top-box">
        <div class="position-change">
            <div class="topbar con-width">
                <div class="left-bar clear">
                    <ul class="nav-list clear">
                        <li class="nav-item current">
                            <a href="">
                                <i class="iconfont icon-shouye2"></i> 首页
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                                <i class="iconfont icon-JS"></i> 免费游戏
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                                <i class="iconfont icon-vuejs"></i> 资讯
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                                <i class="iconfont icon-nodejs"></i> 专题
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                                <i class="iconfont icon-mongodb"></i> 排行
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                                <i class="iconfont icon-44"></i> 视频
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="">
                                <i class="iconfont icon-msg"></i> 留言板
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="right-bar clear">
                    <div class="login-btn">
                        <a href="/login">登录</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>