<div class="side">
    <div class="container author-board">
        <div class="section-title">
            <h3>关于我</h3>
        </div>
        <div class="author-box">
            <div class="avater">
                <img src="/public/images/author.jpg" alt="">
                <span class="vip"></span>
            </div>
        </div>
        <div class="author-name">觅兔先生</div>
        <div class="contact-list">
            <div class="contact-item webo">
                <a href="https://weibo.com/u/1907993487" target="_blank"><i class="iconfont icon-weibo"></i></a>
            </div>
            <div class="contact-item wechat">
                <i class="iconfont icon-weixin"></i>
                <div class="author-qrcode"><img src="/public/images/wechat.jpg" alt=""></div>
            </div>
            <div class="contact-item email">
                <a href="mailto:1129713332@qq.com"><i class="iconfont icon-email"></i></a>
            </div>
        </div>
    </div>
    <div class="container hot-board">
        <div class="section-title">
            <h3>热门文章</h3>
        </div>
        <ul class="hot-list">
            <li class="hot-item">
                <i>1</i><a href="">什么是盗版主题，合买主题有没有售后？</a>
            </li>
            <li class="hot-item">
                <i>2</i><a href="">什么是盗版主题，合买主题有没有售后？</a>
            </li>
            <li class="hot-item">
                <i>3</i><a href="">什么是盗版主题，合买主题有没有售后？</a>
            </li>
            <li class="hot-item">
                <i>4</i><a href="">什么是盗版主题，合买主题有没有售后？</a>
            </li>
            <li class="hot-item">
                <i>5</i><a href="">什么是盗版主题，合买主题有没有售后？</a>
            </li>
        </ul>
    </div>
    <div class="container tag-board">
        <div class="section-title">
            <h3>标签</h3>
        </div>
        <div class="tag-list">
            <a href="">html5</a>
            <a href="">css3</a>
            <a href="">javascript</a>
            <a href="">vue</a>
            <a href="">nodejs</a>
            <a href="">mongoDB</a>  
        </div>
    </div>
</div>